body {
  padding-top: 50px;
}
.wrapper {
  padding: 40px 15px;
  text-align: center;
  min-height:100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -155px;
}

.acmlogo{
	border: solid;
	width: 150px;
	height: 150px;
	border-color: gray;
	border-radius: 150px;
	position: absolute;
	margin-left: -500px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.r4llogo{
	border: solid;
	width: 150px;
	height: 150px;
	border-color: gray;
	position: absolute;
	margin-left: 375px;
}

.video
{
	margin-left: -600px;
	position: absolute;
}

.sideText
{
	position: absolute relative;
	margin-top: -50px;
	margin-left: 650px;
	font-size: 24px;
	width: 500px;
	height: 400px;
}

.footer, .push
{
	margin-top: 32px;
	height: 1em;
}